<div>
    <p>Exemplo de arquivo Azagaia Script</p>
</div>
<div class="arquivo">
    <div class="bloco">
        <div>Azagaia:</div>
        <textarea name="" id="" cols="30" rows="10">
            a.b = 12
        </textarea>
    </div>
    
    <div class="bloco">
        <div>
            ASCII Asembler:
            <button>Traduzir</button>
        </div>
        <textarea name="" id="" cols="30" rows="10">
            call xor
        </textarea>
    </div>
    
    <div class="bloco">
        <div>
            Exadexiaml Asembler:
        </div>
        <textarea name="" id="" cols="30" rows="10">
            call xor
        </textarea>
    </div>
    
    <div class="bloco">
        <div>
            8b Asembler:
        </div>
        <textarea name="" id="" cols="30" rows="10">
            call xor
        </textarea>
    </div>
</div>
