<div>
    <p>Exemplo de arquivo Azagaia Script</p>
</div>
<div class="arquivo">
    
    <div class="bloco">
        <div>
            ASCII Asembler:
            <button onclick="file.traduzir();">Traduzir</button>
        </div>
        <textarea class="text" name="text" id="" cols="30" rows="10"></textarea>
    </div>
    
    <div class="bloco">
        <div>
            Exadexiaml Asembler:
        </div>
        <textarea class="out" name="" id="" cols="30" rows="10">
            call xor
        </textarea>
    </div>
    
    <div class="bloco">
        <div>
            BitArray
        </div>
        <textarea name="" id="" cols="30" rows="10">
            call xor
        </textarea>
    </div>
</div>
